body{
  background-color:#141414;
  height: fit-content;
}

html{
  height: fit-content;
}

.btn{
  background-color: #a52aca;
  border: 0;
}


@font-face {
  font-family: "DREAM";
  src: url("/fonts/DreamMMA.ttf");
}

@font-face {
  font-family: "RACE";
  src: url("/fonts/RaceSport.ttf");
}

* {
  font-family: 'RACE';
}





.cam {
  background-color: red;
  height: 80%;
}
button {
  background-color: #b366f9;
}
a {
  background-color: #b366f9;
}
#camera-btn {
  background-color: grey;
  border-radius: 25%;
}

#camera-btn.active {
  background-color: #c448d7;
  border-radius: 25%;
}

#leave-btn {
  border-radius: 25%;
}

#join-btn {
  background-color: #845695;
  font-size: 18px;
  padding: 25px 50px;
  border: none;
  color: #fff;
  position: fixed;
  bottom: 1rem;
  border-radius: 8px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

#mic-btn {
  background-color: grey;
  border-radius: 25%;
}

#mic-btn.active {
  background-color: #c448d7;
  border-radius: 25%;
}

#screen-btn {
  background-color: #c448d7;
  border-radius: 25%;
}

#members__container {
  background-color: #262625;
  border-right: 1px solid #797a79;
  overflow-y: auto;
  height: 100%;
  z-index: 999;
}

#members__count {
  background-color: #1d1d1c;
  padding: 7px 15px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
}

#members__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
  font-size: 18px;
  width: 100%;
  background-color: #323143;
}

#member__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 5rem;
  padding-bottom: 6.5rem;
  width: 100%;
}

.member_name {
  font-size: 14px;
  line-height: 0;
}

.members__list::-webkit-scrollbar {
  height: 14px;
}

.member__wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding-left: 1em;
}

#messages__container {
  height: calc(100vh - 85px);
  background-color: #262625;
  right: 0;
  position: absolute;
  width: 100%;
  /* height: 100vh; */
  overflow-y: auto;
  border-left: 1px solid #111;
}

#messages {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.message__wrapper:last-child {
  margin-bottom: 6.5rem;
}

.message__wrapper {
  display: flex;
  gap: 10px;
  margin: 1em;
}

.message__body {
  background-color: #363739;
  border-radius: 10px;
  padding: 10px 15px;
  width: fit-content;
  max-width: 900px;
}

.message__body strong {
  font-weight: 600;
  color: #ede0e0;
}

.message__body__bot {
  padding: 0 20px;
  max-width: 900px;
  color: #bdbdbd;
}

.message__author {
  margin-right: 10px;
  color: #2aca3e !important;
}

.message__author__bot {
  margin-right: 10px;
  color: #a52aca !important;
}

.message__text {
  margin: 0;
}

#message__form {
  width: 23.2rem;
  position: fixed;
  bottom: 0;
  display: block;
  background-color: #1a1a1a;
  padding: 1em;
}

#message__form input {
  color: #fff;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 18px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #3f434a;
}

#message__form input:focus {
  outline: none;
}

#message__form input::placeholder {
  color: #707575;
}

.icon-1 {
  width: 200px;
  height: 200px;
  background-color: red;
  border-radius: 25%;
}

.room-info {
  height: 100%;
  background-color: #141414;
}

.section-top {
  width: 100%;
  height: 900px;
  font-family: DREAM;
  background-color: #141414;
  background-image: url("/images/bc-section-to1.png");
  background-size: cover;
  background-position: 50% 80%;
  background-repeat: no-repeat;
}

.section {
  background-color: #141414;
  overflow-x: hidden;
  height: 900px;
}

.section-two {
  background-color: #c448d7;
  height: 1000px;
}

.section-three {
  background-color: #f4a162;
  height: 900px;
}

.section-five {
  background-color: #de461c;
  height: 900px;
}

.section-last {
  height: 900px;
  background-color: #141414;
  background-image: url("/images/bc-last-section-1.png");
  background-size: cover;
  background-position: 50% 80%;
  background-repeat: no-repeat;
}

#stream__box {
  background-color: #3f434a;
  height: 60vh;
  display: none;
}

#stream__box .video__container {
  border: 2px solid #000;
  border-radius: 0;
  height: 100% !important;
  width: 100% !important;

  background-size: 300px;
}

#stream__box video {
  border-radius: 0;
}

#streams__container {
  display: flex;
  flex-wrap: wrap;
  background-color: #141414;
  gap: 2em;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.video__container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #b366f9;
  cursor: pointer;
  overflow: hidden;
  height: 300px;
  width: 300px;

  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75px;
}

.video__container.owner {
  height: 65vh;
  width: 75vw;
}

.video-player {
  height: 100%;
  width: 100%;
}

.video-player video {
}

.stream__actions {
  display: none;
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1400px) {
  .video__container {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 1200px) {
  

  #members__button {
    display: block;
  }

  #stream__container {
    width: calc(100% - 25rem);
    left: 0;
  }
}

@media (max-width: 980px) {
  #stream__container {
    width: calc(100% - 20rem);
    left: 0;
  }
  #messages__container {
    max-width: 20rem;
  }

  #message__form {
    width: 18.2rem;
  }
}

@media (max-width: 768px) {
  .section-top {
    height: 700px;
    background-size: 150% 100%;
  }
  #stream__container {
    width: 100%;
  }

  .video__container {
  }

  

  #chat__button {
    display: block;
  }
}
